@media all and (max-width: 1000px) {
    .section {
        margin: 20px 0;
    }

    .cart__info article>span {
        font-size: 23px;
    }

    .modal__full .modal__title h2 {
        font-size: 26px;
    }

    .section__slider__container {
        margin: 0;
    }

    .cart__info img {
        height: 35px;
    }

    .price__list li:last-of-type {
        margin: 0;
    }

    .cart__info {
        margin: 16px 0 0 0;
    }

    .cart__grid>div p {
        font-size: 19px;
    }

    .documents {
        margin: 0;
    }

    .head__title h1 {
        font-size: 22px;
    }

    .company__info h3 {
        font-size: 50px;
    }

    .company__info div {
        font-size: 18px;
    }

    .device__text>span {
        font-size: 22px;
    }

    .header__nav {
        margin: 16px 0;
    }

    .company__cart>div, .company__cart>a {
        height: fit-content;
        padding: 30px 20px;
    }

    .feedback__container {
        padding: 20px;
        border-radius: 15px;
    }

    .footer {
        margin: 30px 0 20px 0
    }

    .footer__top, .footer__bottom {
        display: block;
    }

    .footer__top span {
        display: block;
    }

    .footer__bottom span {
        display: none;
    }

    .footer__bottom a {
        display: block;
        margin: 0 0 6px 0;
    }
}
